mainmenu "RT-Thread Project Configuration"

BSP_DIR := .

RTT_DIR := ../../..

PKGS_DIR := packages

source "$(RTT_DIR)/Kconfig"
source "$PKGS_DIR/Kconfig"
source "board/Kconfig"

# 定义整个BSP形态
config BSP_USING_SG2260
    bool
    select ARCH_RISCV64
    select ARCH_RISCV_FPU_D
    select ARCH_USING_RISCV_COMMON64
    select RT_USING_SYSTEM_WORKQUEUE
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    select RT_USING_CACHE
    select ARCH_MM_MMU
    select RT_USING_DEVICE_OPS
    select ARCH_REMAP_KERNEL if RT_USING_SMART
    default y

config C920_PLIC_PHY_ADDR
    hex
    default 0x6E00000000 if SOC_TYPE_BM1690_AP
    default 0x690c800000 if SOC_TYPE_BM1690_TP

# 添加 TPU_INDEX 配置项
config TPU_INDEX
    int "TPU index(0: default )"
    depends on SOC_TYPE_BM1690_TP
    range 0 7
    default 0
    help
      Select the TPU number to adjust the boot address.
      TPU_FW_OFFSET is 0x20000000ULL

config C920_BOOT_ADDR
    hex
    default 0x80200000 if SOC_TYPE_BM1690_AP && BOOT_TYPE_FROM_SOC
    default 0x1EA0200000 if SOC_TYPE_BM1690_AP && BOOT_TYPE_FROM_PCIE
    default 0x1F00200000 if SOC_TYPE_BM1690_TP && TPU_INDEX = 0
    default 0x1F20200000 if SOC_TYPE_BM1690_TP && TPU_INDEX = 1
    default 0x1F40200000 if SOC_TYPE_BM1690_TP && TPU_INDEX = 2
    default 0x1F60200000 if SOC_TYPE_BM1690_TP && TPU_INDEX = 3
    default 0x1F80200000 if SOC_TYPE_BM1690_TP && TPU_INDEX = 4
    default 0x1FA0200000 if SOC_TYPE_BM1690_TP && TPU_INDEX = 5
    default 0x1FC0200000 if SOC_TYPE_BM1690_TP && TPU_INDEX = 6
    default 0x1FE0200000 if SOC_TYPE_BM1690_TP && TPU_INDEX = 7

config TOTAL_MEMORY
    hex "total memory used"
    default  0x2000000

config IRQ_MAX_NR
    int
    default 512

config BSP_GPIO_IRQ_BASE
    int
    default 26

config __STACKSIZE__
    int "stack size for interrupt"
    default 4096

# 定义里面SOC对应的形态
config SOC_TYPE_BM1690_AP
    bool
    select ARCH_RISCV_VECTOR
    default n

config SOC_TYPE_BM1690_RP
    bool
    default n

config SOC_TYPE_BM1690_TP
    bool
    default n

choice
    prompt "Board Type"
    default BOARD_TYPE_SOPHGO_BM1690_AP

	#定义板卡形态，是AP/RP/TP
    config BOARD_TYPE_SOPHGO_BM1690_AP
		select SOC_TYPE_BM1690_AP
        bool "sophgo BM1690 EVB for AP mode"

    config BOARD_TYPE_SOPHGO_BM1690_TP
		select SOC_TYPE_BM1690_TP
        bool "sophgo BM1690 EVB for TP mode"
endchoice

choice
	prompt "Boot Type"
	default BOOT_TYPE_FROM_SOC

	config BOOT_TYPE_FROM_SOC
		bool "SOC mode"

	config BOOT_TYPE_FROM_PCIE
		bool "PCIe mode"
endchoice

choice BSP_ROOTFS_TYPE
    prompt "rootfs type"
    default BSP_ROOTFS_TYPE_ROMFS

    config BSP_ROOTFS_TYPE_ROMFS
        bool "ROMFS"
        select RT_USING_DFS_ROMFS

    config BSP_ROOTFS_TYPE_CROMFS
        bool "CROMFS"
        select RT_USING_DFS_CROMFS
        select PKG_USING_ZLIB
        select PKG_USING_ZLIB_LATEST_VERSION
endchoice
